<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessobancoDados.Properties.Settings.StringConexao"
            connectionString="Data Source=DESKTOP-6MM7300\SQLEXPRESS;Initial Catalog=Db_Vendas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>